.body{
    background-color: rgba(240, 186, 255, 0.3);
}
.product_list{
    background-color: #2d9eb0;
}
.step-links {
    margin-bottom: 2px;
}
.current{
    margin-right: 5px;
    margin-left: 5px;
    background-color: #e2f579;
    border-radius: 45%;
}
.pag-button{
    width: 65px;
    height: auto;
}
.detail-body{
    background-color: rgba(15, 102, 116, 0.29);
}

.detail-box {
  position: relative;
}

.detail-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(248, 215, 218, 0.55);*/
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

/*.p-detail p,*/
/*.detail-box p,*/
/*.detail-box{*/
/*    background-color: rgba(248, 215, 218, 0.55) !important;*/
/*}*/

.detail-box h1,
.detail-box p,
.detail-box .btn-box {
    position: relative;
    z-index: 1;
}


.detail-box h1,
.detail-box p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.92);
}
