body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.hero-bg {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.shopping_cart {
    filter: brightness(170%) contrast(150%);
    border-radius: 50%;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgb(255, 174, 0);
    display: inline-block;
    transition: background-color 0.3s ease;
}

img.shopping_cart:hover {
    background: linear-gradient(to right, #4f4f4f, #676060);
}

.user {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

button.nav_search-btn {
    background-color: #FFD700 !important;
    border: none !important;
    color: white !important;
    padding: 6px 13px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

button.nav_search-btn:hover {
    background-color: #C0C0C0 !important;
}
.logo{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.search{
    margin-top: 4px !important;
    margin-left: 4px !important;
    height: auto;
    width: 180px;

}

.search-btn{
    font-size: 12px !important;
    padding: 8px 10px !important;
    margin-bottom: 5px !important;
    margin-left: 1px !important;

}


