body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.hero-bg {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping_cart {
    filter: brightness(170%) contrast(150%);
}