.message {

    font-size: 16px;
}

.message.green {
    color: #09d309;
}

.message.red {
    color: red;
}

.bubble {

    position: absolute;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*Verify Template*/
.verify-message .messages {
    display: flex;
    flex-direction: column;
    margin: 0 10px auto;

}

.verify-message .messages li {
    list-style: none;
    padding: 10px 15px !important;
    margin-bottom: 10px !important;
    border-radius: 5px !important;
    text-align: center;
}

.verify-message .messages li.list-group-item-success {
    margin-left: 500px !important;
    margin-right: 500px !important;
    background-color: #a0e6a8;
    color: #333;
}
.verify-message .messages li.list-group-item-error {
    background-color: #f8d7da;
    color: #721c24;
}

