.signup {
    width: 85px !important;
    height: auto !important;
    padding: 5px !important;
}

.s-form-label {
    margin-top: 8px !important;
}

.s-form-label2 {
    margin-top: 8px !important;
}

.form-pad {
    padding: 10px !important;
}

.error-message {
    background-color: rgba(255, 227, 227, 0.84) !important;
    border: 1px solid #ff0000 !important;
    padding: 5px !important;
    margin-bottom: 2px !important;
    color: #650000 !important;
}
