{% extends 'base.html' %}
{% block background %}{% endblock background %}
{% block navbut %}{% endblock navbut %}
{% load i18n %}
{% block title %}{% trans 'Password Reset Complete' %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">{% trans 'Password Reset Complete' %}</div>

                <div class="card-body">
                    <p>{% trans 'Your password has been successfully reset.' %}</p>
                    <p><a href="{% url 'login' %}">{% trans 'Login' %}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
