<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast Foodia</title>
</head>
<body>
{% block category %}
    <h1>دسته بندی ها</h1>
    <ul>
        {% for category in object_list %}
            <li>
                <h2>{{ category.name }}</h2>
                <p>{{ category.description }}</p>
                <img src="{{ category.image.url }}" alt="{{ category.name }} Image">
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block content %}  {% endblock %}
</body>
</html>