{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}base{% endblock %}</title>

    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="">


    <!-- bootstrap core css -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

    <!-- Owl Carousel stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

    <!-- Nice Select stylesheet -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>

    <!-- Font Awesome stylesheet -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    <!-- Responsive style -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
    {% comment %} my own{% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <link rel="stylesheet" href="{% static 'css/body.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login-flow.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block header %}
    {% endblock %}
</head>
<body class={% block type-body %}"body"{% endblock %}>
{% block background %}
    <div class="hero_area">
    <div class="bg-box">
        {#      <img src="images/hero-bg.jpg" alt="" class="hero-bg">#}
        <img src="" alt="" class="hero-bg">
    </div>
{% endblock background %}
{% block navbar %}
    <!-- header section strats -->
    <header class="header_section">

        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
            <span>
              <img class="logo" src="{% static 'images/fastfoodia.jpg' %}" alt="logo"> Fast Foodia
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li><a href="/fa/" role="button">فا</a>/<a href="/en/"
                                                                   role="button">En</a></li>
                        {#                            <li class="nav-item active">#}
                        {#                                <a class="nav-link" href="index.html">{% trans "Home" %} <span class="sr-only">(current)</span></a>#}
                        {#                            </li>#}
                        <li class="nav-item">
                            <a class="nav-link" href="/#filters_menu">{% trans "Menu" %}</a>
                        </li>
                        {#                            <li class="nav-item">#}
                        {#                                <a class="nav-link" href="about.html">{% trans "About" %}</a>#}
                        {#                            </li>#}

                    </ul>
                    <div class="user_option">
                        <a href="" class="user_link">
                            <i><img class="user" src="{% static 'images/user.png' %}" alt=""></i>
                        </a>
                        <a class="cart_link" href="#">
                            <!-- در تمپلیت HTML -->
                            <img class="shopping_cart" src="{% static 'images/shopping_cart_image.jpg' %}"
                                 alt="Shopping Cart" width="30" height="auto">


                        </a>
                        <li class="search">
                            {% block search %}
                                <form class="d-flex">
                                    <input type="text" class="form-control ms-1 sea-btn" name="q"
                                           placeholder="Search ...">
                                    <button class="btn btn-warning  search-btn" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </form>
                            {% endblock search %}
                        </li>
                        <a href="" class="order_online">
                            {% trans "Order" %}
                        </a>
                        <li>
                            <button id="openSignupModalBtn"
                                    class="btn btn-warning signup">{% trans 'Sign Up' %}</button>
                            <!-- Bootstrap Modal -->
                            <div class="modal" tabindex="-1" role="dialog" id="signupModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{% trans 'Sign Up' %}</h5>
                                            <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Include the signup form here -->
                                            <form method="post" class="form-pad">
                                                {% csrf_token %}
                                                <p class="s-form-label2">Create a new account</p>

                                                <div class="form-group">
                                                    {% if form.errors %}
                                                        <div class="error-message">{{ form.username.errors }}</div>
                                                    {% endif %}
                                                    <input type="text" id="form2Example11" class="form-control"
                                                           name="username"/>
                                                    <label class="s-form-label" for="form2Example11">Username</label>
                                                </div>

                                                <div class="form-group">
                                                    {% if form.errors %}
                                                        <div class="error-message">{{ form.email.errors }}</div>
                                                    {% endif %}
                                                    <input type="email" id="form2Example33" class="form-control"
                                                           name="email"/>
                                                    <label class="s-form-label " for="form2Example33">Email</label>
                                                </div>

                                                <div class="form-group">
                                                    {% if form.errors %}
                                                        <div class="error-message">{{ form.phone.errors }}</div>
                                                    {% endif %}
                                                    <input type="tel" id="form2Example44" class="form-control"
                                                           name="phone"/>
                                                    <label class="s-form-label" for="form2Example44">Phone</label>
                                                </div>

                                                <div class="form-group">
                                                    {% if form.errors %}
                                                        <div class="error-message">{{ form.password1.errors }}</div>
                                                    {% endif %}

                                                    <input type="password" id="form2Example22" name="password1"
                                                           class="form-control"/>
                                                    <label class="s-form-label" for="form2Example22">Password</label>
                                                </div>

                                                <div class="form-group">
                                                    {% if form.errors %}
                                                        <div class="error-message">{{ form.password2.errors }}</div>
                                                    {% endif %}

                                                    <input type="password" id="form2Example55" name="password2"
                                                           class="form-control"/>
                                                    <label class="s-form-label" for="form2Example55">Password
                                                        confirmation</label>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    {{ form.is_customer.errors }}
                                                    <div class="form-check form-check-inline mb-4 p-0">
                                                        {{ form.is_customer.label_tag }}
                                                        {{ form.is_customer }}
                                                    </div>
                                                </div>

                                                <div class="text-center pt-1 mb-5 pb-1">
                                                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                                            type="submit">{% trans 'Submit' %}</button>
                                                    {% if user_already_registered %}
                                                        <a class="text-muted" href="/users/login/">Already have an
                                                            account? Log In</a>
                                                    {% endif %}
                                                </div>

                                                <div class="d-flex align-items-center justify-content-center pb-4">
                                                    <p class="mb-0 me-2">Already have an account?</p>
                                                    <button type="submit" class="btn btn-outline-danger">
                                                        <a href="/users/login/" class="decor">Log In</a>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>

                                <a class="btn btn-light login" href="{% url 'login' %}">{% trans 'Login' %}</a>

{#                            <!-- دکمه باز کردن مدال -->#}
{#                            <button id="openLoginModalBtn" class="btn btn-light login">{% trans 'Login' %}</button>#}
{##}
{#                            <!-- مدال Bootstrap برای ورود -->#}
{#                            <div class="modal" tabindex="-1" role="dialog" id="loginModal">#}
{#                                <div class="modal-dialog" role="document">#}
{#                                    <div class="modal-content gradient-custom-2">#}
{#                                        <div class="modal-header">#}
{#                                            <h5 class="modal-title">{% trans 'Login' %}</h5>#}
{#                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                                <span aria-hidden="true">&times;</span>#}
{#                                            </button>#}
{#                                        </div>#}
{#                                        <div class="modal-body">#}
{#                                            <!-- Include the login form here -->#}
{#                                            <form method="post" class="form-pad">#}
{#                                                {% csrf_token %}#}
{##}
{#                                                <div class="form-group">#}
{#                                                    <label class="form-label"#}
{#                                                           for="loginUsername">{% trans 'Username' %}</label>#}
{#                                                    <input type="text" id="loginUsername" class="form-control"#}
{#                                                           name="username"/>#}
{#                                                </div>#}
{##}
{#                                                <div class="form-group">#}
{#                                                    <label class="form-label"#}
{#                                                           for="loginPassword">{% trans 'Password' %}</label>#}
{#                                                    <input type="password" id="loginPassword" name="password"#}
{#                                                           class="form-control"/>#}
{#                                                </div>#}
{##}
{#                                                <div class="text-center pt-1 mb-5 pb-1">#}
{#                                                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"#}
{#                                                            type="submit">{% trans 'Login' %}</button>#}
{#                                                </div>#}
{##}
{#                                                <div class="d-flex align-items-center justify-content-center pb-4">#}
{#                                                    <p class="mb-0 me-2">{% trans "Don't have an account?" %}</p>#}
{#                                                    <button type="submit" class="btn btn-outline-danger">#}
{#                                                        <a href="{% url 'signup' %}"#}
{#                                                           class="decor">{% trans 'Sign Up' %}</a>#}
{#                                                    </button>#}
{#                                                </div>#}
{#                                            </form>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

                        </li>
                        <!-- Include jQuery and Bootstrap JS -->
                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

                        <!-- Your custom script -->
{#                        <script>#}
{#                            $(document).ready(function () {#}
{#                                $("#openLoginModalBtn").click(function () {#}
{#                                    $("#loginModal").modal("show");#}
{#                                });#}
{#                            });#}
{#                        </script>#}
                        <!-- Include jQuery and Bootstrap JS -->
                        <script>
                            $(document).ready(function () {
                                $("#openSignupModalBtn").click(function () {
                                    $("#signupModal").modal("show");
                                });
                            });
                        </script>
                        <li>

                    </div>
                </div>
            </nav>
        </div>

    </header>
    <!-- end header section -->
{% endblock navbar %}
{% block content %} {% endblock %}
{% block footer %}
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            {% trans 'Contact Us' %}
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i><img src={% static "images/contact-icon1.png" %} alt="map"></i>
                                <span>
                  Location
                </span>
                            </a>
                            <a href="">
                                <i><img src={% static "images/contact-icon2.png" %} alt="phone"></i>
                                <span>
                  Call +01 1234567890
                </span>
                            </a>
                            <a href="">
                                <i><img src={% static "images/contact-icon3.png" %} alt="email"></i>
                                <span>
                  demo@gmail.com
                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            Fast Foodia
                        </a>
                        <p>
                            Necessary, making this the first true generator on the Internet. It uses a dictionary of
                            over 200 Latin words, combined with
                        </p>
                        <div class="footer_social">
                            <a href="" class="gold">
                                <i class="fa fa-facebook blue" aria-hidden="true"></i>
                            </a>
                            <a href="" class="gold">
                                <i class="fa fa-twitter blue" aria-hidden="true"></i>
                            </a>
                            <a href="" class="gold">
                                <i class="fa fa-linkedin blue" aria-hidden="true"></i>
                            </a>
                            <a href="" class="gold">
                                <i class="fa fa-instagram red" aria-hidden="true"></i>
                            </a>
                            <a href="" class="gold">
                                <i class="fa fa-pinterest red" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        {% trans 'Opening Hours' %}
                    </h4>
                    <p>
                        Everyday
                    </p>
                    <p>
                        10.00 Am -10.00 Pm
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://html.design/">Free Html Templates</a><br><br>
                    &copy; <span id="displayYear"></span> Distributed By
                    <a href="https://themewagon.com/" target="_blank">Maybe a Good Person</a>
                </p>
            </div>
        </div>
    </footer>
    </div>
    <!-- footer section -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <!-- jQery -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    script src="{% static 'js/menu-button.js' %}"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->

{% endblock %}
</body>
</html>