{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}base{% endblock %}</title>

    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="images/favicon.png" type="">


    <!-- bootstrap core css -->
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

    <!-- Owl Carousel stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

    <!-- Nice Select stylesheet -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>

    <!-- Font Awesome stylesheet -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!-- Responsive style -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
    {% comment %} my own{% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <link rel="stylesheet" href="{% static 'css/body.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">
    {% block header %}
    {% endblock %}
</head>
<body class={% block type-body %}"body"{% endblock %}>
{% block background %}
<div class="hero_area">
    <div class="bg-box">
        {#      <img src="images/hero-bg.jpg" alt="" class="hero-bg">#}
        <img src="" alt="" class="hero-bg">
    </div>
{% endblock background %}
    {% block navbar %}
        <!-- header section strats -->
        <header class="header_section">

            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="index.html">
            <span>
              <img class="logo" src="{% static 'images/fastfoodia.jpg' %}" alt="logo"> Fast Foodia
            </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mx-auto ">
                            <li><a href="/fa/" role="button">{% trans "" %}فا</a>/<a href="/en/" role="button">{% trans "" %}En</a></li>
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">{% trans "Home" %} <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="menu.html">{% trans "Menu" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">{% trans "About" %}</a>
                            </li>

                        </ul>
                        <div class="user_option">
                            <a href="" class="user_link">
                                <i><img class="user" src="{% static 'images/user.png' %}" alt=""></i>
                            </a>
                            <a class="cart_link" href="#">
                                <!-- در تمپلیت HTML -->
                                <img class="shopping_cart" src="{% static 'images/shopping_cart_image.jpg' %}"
                                     alt="Shopping Cart" width="30" height="auto">

                                {#                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">#}
                                <g>
                                    <g>
                                        <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"/>
                                    </g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                </svg>
                            </a>
                        <li class="search">
                            {% block search %}
                            <form class="d-flex">
                                <input type="text" class="form-control ms-1 sea-btn" name="q" placeholder="Search ...">
                                <button class="btn btn-warning  search-btn" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                            {% endblock search %}
                        </li>
                            <a href="" class="order_online">
                                {% trans "Order Online" %}
                            </a>
                        <li>
                            <button id="openModalBtn">Sign Up</button>
                            <!-- Bootstrap Modal -->
                            <div class="modal" tabindex="-1" role="dialog" id="signupModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Sign Up</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Include the signup form here -->
                                            <form method="POST">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                                <!-- Include jQuery and Bootstrap JS -->
                                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

                                <script>
                                    // Open the modal when the button is clicked
                                    $(document).ready(function () {
                                        $("#openModalBtn").click(function () {
                                            $("#signupModal").modal("show");
                                        });
                                    });
                                </script>

                        </div>
                    </div>
                </nav>
            </div>

        </header>
        <!-- end header section -->
    {% endblock navbar %}
    {% block content %} {% endblock %}
    {% block footer %}
        <!-- footer section -->
        <footer class="footer_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-col">
                        <div class="footer_contact">
                            <h4>
                                Contact Us
                            </h4>
                            <div class="contact_link_box">
                                <a href="">
                                    <i><img src={% static "images/contact-icon1.png" %} alt="map"></i>
                                    <span>
                  Location
                </span>
                                </a>
                                <a href="">
                                    <i><img src={% static "images/contact-icon2.png" %} alt="phone"></i>
                                    <span>
                  Call +01 1234567890
                </span>
                                </a>
                                <a href="">
                                    <i><img src={% static "images/contact-icon3.png" %} alt="email"></i>
                                    <span>
                  demo@gmail.com
                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <div class="footer_detail">
                            <a href="" class="footer-logo">
                                Fast Foodia
                            </a>
                            <p>
                                Necessary, making this the first true generator on the Internet. It uses a dictionary of
                                over 200 Latin words, combined with
                            </p>
                            <div class="footer_social">
                                <a href="" class="gold">
                                    <i class="fa fa-facebook blue" aria-hidden="true"></i>
                                </a>
                                <a href="" class="gold">
                                    <i class="fa fa-twitter blue" aria-hidden="true"></i>
                                </a>
                                <a href="" class="gold">
                                    <i class="fa fa-linkedin blue" aria-hidden="true"></i>
                                </a>
                                <a href="" class="gold">
                                    <i class="fa fa-instagram red" aria-hidden="true"></i>
                                </a>
                                <a href="" class="gold">
                                    <i class="fa fa-pinterest red" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <h4>
                            Opening Hours
                        </h4>
                        <p>
                            Everyday
                        </p>
                        <p>
                            10.00 Am -10.00 Pm
                        </p>
                    </div>
                </div>
                <div class="footer-info">
                    <p>
                        &copy; <span id="displayYear"></span> All Rights Reserved By
                        <a href="https://html.design/">Free Html Templates</a><br><br>
                        &copy; <span id="displayYear"></span> Distributed By
                        <a href="https://themewagon.com/" target="_blank">Maybe a Good Person</a>
                    </p>
                </div>
            </div>
        </footer>
        </div>
        <!-- footer section -->

        <!-- jQery -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <!-- popper js -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <!-- bootstrap js -->
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <!-- owl slider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <!-- isotope js -->
        <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
        <!-- nice select -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
        <!-- custom js -->
        <script src="{% static 'js/custom.js' %}"></script>
        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
        <!-- End Google Map -->

    {% endblock %}
</body>
</html>