{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block type-body %}"detail-body"{% endblock %}
{% block background %}{% endblock background %}
{#{% block category %}{% endblock category %}#}
{% block title %} Product Details {{ product.id }} {% endblock title %}



{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <h2 class="text-center" style="margin-bottom: 20px;">{{ category_path }}</h2>
                <div class="card w-175 mx-auto">
                                        <img src="{{ product_images.0.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                        {% for image in images %}
                                            <img src="{{ image.url }}" class="card-img-top" alt="{{ product.name }}">
                                        {% endfor %}

                    <div class="card-body text-center">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text"><strong>{% trans 'قیمت' %}:</strong> {{ product.price }}</p>

                        <button data-product={{ product.id }} data-action="add"
                                class="update-cart btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                <path
                                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"/>
                            </svg>
                        </button>

                        <button data-product={{ product.id }} data-action="remove"
                                class="decrease-cart btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
                                <path
                                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1"/>
                            </svg>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

