{% extends 'base.html' %}
{% block content %}
<div class="container">
        <div class="row">
            {% for product in object_list %}
                <div class="row-cols col-xs-12 col-sm-6 col-md-4 ">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ product.images.first.image.url }}" class="card-img-top" alt="{{ product.name }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
{% endblock content %}