{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block type-body %}"product_list"{% endblock %}
{% block background %}{% endblock background %}
{% block content %}
<div class="container">
        <div class="row">
            {% for product in object_list %}
                <div class="row-cols col-xs-12 col-sm-6 col-md-4 ">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ product.images.first.image.url }}" class="card-img-top" alt="{{ product.name }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.short_description }}</p>
                        <a href="{% url 'detail' pk=product.pk %}" class="btn btn-primary">{% trans 'details' %}</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination d-flex justify-content-center mt-4">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-dark">&laquo; {% trans 'first' %}</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-light">{% trans 'previous' %}</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-light pag-button">{% trans 'next' %}</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-dark pag-button">{% trans 'last' %} &raquo;</a>
                {% endif %}
            </span>
        </div>
      </div>
{% endblock content %}